.side-panel-section {
    margin-bottom: 20px;
}

.conf-widget {
    text-align: center;
    margin-bottom: 20px;
}

.tbl-info {
    width: 100%;
}

.tbl-info > tbody > tr > td {
    vertical-align: top;
    padding-bottom: 10px;
}

.tbl-info-key {
    width: 50%;
}

.tbl-info-value {
    width: 50%;
}

.list-previous-editions {
    list-style-type: none; 
    padding-left: 0;
}

.list-previous-editions > li {
    padding-bottom: 10px;
}